#hud {
	height:100px;
}
.cell {
	position: absolute;
}
.box {
	background-color: black;
}
.snake {

}
.snake-body {
	border-radius: 50px;
}
.snake-head {

}


.treat {
	background-color: transparent;
}