body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: darkcyan;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: rebeccapurple;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#user{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: white;  
}
a:hover{
    background-color: yellow;
}

#log:hover{
    background-color: yellow;
}


#goback{  
    width: 300px;  
    height: 30px;
    left: 550px; 
    position: relative; 
    border: none;  
    border-radius: 17px;  
    padding-left: 10px;  
    color: blue;
    align-self: center;  
}

#goback:hover{
    background-color: yellow;
}